* {
    box-sizing: border-box;
}

body.login {
    display: grid;
    place-items: center;
    height: 100vh;
    margin: 0;

    form {
        border: 1px solid;
        border-radius: 10px;
        padding: 1em;
        display: grid;
        gap: .5rem;
    
        label {
            display: block;
        }

        #botoes {
            display: flex;
            justify-content: flex-end;
            gap: .25rem;
            cursor: pointer;

            #recuperar {
                background: transparent;
                border: 0 none;
                color: blue;
            }
        }
    }
}